<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ValidateStudent</servlet-name>
        <servlet-class>oes.controller.ValidateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateAdmin</servlet-name>
        <servlet-class>oes.controller.ValidateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admins</servlet-name>
        <servlet-class>oes.db.Admins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Instructions</servlet-name>
        <servlet-class>oes.db.Instructions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Provider</servlet-name>
        <servlet-class>oes.db.Provider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Questions</servlet-name>
        <servlet-class>oes.db.Questions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Students</servlet-name>
        <servlet-class>oes.db.Students</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminsDao</servlet-name>
        <servlet-class>oes.model.AdminsDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentsDao</servlet-name>
        <servlet-class>oes.model.StudentsDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionsDao</servlet-name>
        <servlet-class>oes.model.QuestionsDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructionsDao</servlet-name>
        <servlet-class>oes.model.InstructionsDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructionInsert</servlet-name>
        <servlet-class>oes.controller.InstructionInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutStudent</servlet-name>
        <servlet-class>oes.controller.LogoutStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>oes.controller.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionInsert</servlet-name>
        <servlet-class>oes.controller.QuestionInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentInsert</servlet-name>
        <servlet-class>oes.controller.StudentInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateStudent</servlet-name>
        <url-pattern>/ValidateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateAdmin</servlet-name>
        <url-pattern>/ValidateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admins</servlet-name>
        <url-pattern>/Admins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Instructions</servlet-name>
        <url-pattern>/Instructions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Provider</servlet-name>
        <url-pattern>/Provider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Questions</servlet-name>
        <url-pattern>/Questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Students</servlet-name>
        <url-pattern>/Students</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminsDao</servlet-name>
        <url-pattern>/AdminsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentsDao</servlet-name>
        <url-pattern>/StudentsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionsDao</servlet-name>
        <url-pattern>/QuestionsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstructionsDao</servlet-name>
        <url-pattern>/InstructionsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstructionInsert</servlet-name>
        <url-pattern>/InstructionInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutStudent</servlet-name>
        <url-pattern>/LogoutStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionInsert</servlet-name>
        <url-pattern>/QuestionInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentInsert</servlet-name>
        <url-pattern>/StudentInsert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
